{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li>
                    
                </li>
            </ul>
            </div>

          
        </div>
    </div>
</nav>

<div class="container-fluid"
<div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
  
                    <h2>homepage (public)</h2>
                    {% if user.is_authenticated %}
                        Welcome {{ user.username }}, you are loged in..
                    {% else %}
                        You are not logged in author {{ author.username }}
                    {% endif %}
                    <a href="\login">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Login Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}