

{% block content %}

<h2>Title Test</h2>

<div class="container-fluid"
<div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>login</h3>
                    <from method='POST' action='' >
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class='btn btn-default' type='submit'/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}